h1 {
    color: #FF0000;
    text-align: center;
}
#content {
    width: 920px;
    background-color: #CCCCCC;
    margin: 0 auto;
}
.imgblock {
    width: 900px;
    text-align: center;
}
.image {
    width: 30%;
    float: none;
}
.shadow {
    text-shadow: 3px 3px 2px #f00;
    font: 32pt 'Arial';
    font-weight: bold;
    color: #660000;
}
.sample-table {
    border: 3px solid rgb(46, 46, 46);
    border-collapse: collapse;
    margin: 5em;
  }
  .sample-table td {
    border: 3px solid rgb(46, 46, 46);
  }
  .sample-top {
    caption-side: top;
  }
  .sample-bottom {
    caption-side: bottom;
  }

@media screen and (max-width: 1024px){

    h1 {
        color: #00AA00;
        text-align: center;
    }
    #content {
        width: 780px;
        margin: 0 auto;
    }
    .imgblock {
        margin: 0 auto;
        width: 750px;
        text-align: center;
    }
    .image {
        width: 40%;
        float: none;
    }
    .shadow {
        text-shadow: 3px 3px 2px #00AA00;
        font: 32pt 'Arial';
        font-weight: bold;
        color: #003100;
    }
    .sample-table {
        border: 3px solid rgb(141, 0, 0);
        border-collapse: collapse;
        margin: 5em;
      }
      .sample-table td {
        border: 3px solid rgb(141, 0, 0);
      }
      .sample-top {
        caption-side: top;
      }
      .sample-bottom {
        caption-side: bottom;
      }
}

@media screen and (max-width: 768px){

    h1 {
        color: #0000FF;
        text-align: center;
    }
    #content {
        width: 100%;
    }
    .imgblock {
        width: 100%;
        text-align: center;
    }
    .image {
        width: 100%;
        margin: 0 auto;
    }
    .shadow {
        text-shadow: 3px 3px 2px #0000FF;
        font: 32pt 'Arial';
        font-weight: bold;
        color: #000047;
    }
    .sample-table {
        border: 3px solid rgb(84, 152, 255);
        border-collapse: collapse;
        margin: 5em;
      }
      .sample-table td {
        border: 3px solid rgb(89, 180, 255);
      }
      .sample-top {
        caption-side: top;
      }
      .sample-bottom {
        caption-side: bottom;
      }
}